In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\spngu\Downloads\stock_market_performance_analysis_csv.csv")
df.head()

,symbol,date,open,high,low,close,volume,daily_price_change,price_range,price_direction,year,month
0,AAL,2014-01-02,25.0700,25.8200,25.0600,25.3600,8998943,0.2900,0.7600,Bullish,2014,Jan
1,AAPL,2014-01-02,79.3828,79.5756,78.8601,79.0185,58791957,-0.3643,0.7155,Bearish,2014,Jan
2,AAP,2014-01-02,110.3600,111.8800,109.2900,109.7400,542711,-0.6200,2.5900,Bearish,2014,Jan
3,ABBV,2014-01-02,52.1200,52.3300,51.5200,51.9800,4569061,-0.1400,0.8100,Bearish,2014,Jan
4,ABC,2014-01-02,70.1100,70.2300,69.4800,69.8900,1148391,-0.2200,0.7500,Bearish,2014,Jan

In [4]:
# Data cleaning 
df['date']=pd.to_datetime(df['date'])
df.dropna(inplace=True)
df['date'].head()

0   2014-01-02
1   2014-01-02
2   2014-01-02
3   2014-01-02
4   2014-01-02
Name: date, dtype: datetime64[ns]

In [5]:
# Python modification (extra analysis)
# Q1:Daily return percentage
df['daily_return_pct']=((df['close']-df['open'])/df['open'])*100
df.head()

,symbol,date,open,high,low,close,volume,daily_price_change,price_range,price_direction,year,month,daily_return_pct
0,AAL,2014-01-02,25.0700,25.8200,25.0600,25.3600,8998943,0.2900,0.7600,Bullish,2014,Jan,1.156761
1,AAPL,2014-01-02,79.3828,79.5756,78.8601,79.0185,58791957,-0.3643,0.7155,Bearish,2014,Jan,-0.458916
2,AAP,2014-01-02,110.3600,111.8800,109.2900,109.7400,542711,-0.6200,2.5900,Bearish,2014,Jan,-0.561798
3,ABBV,2014-01-02,52.1200,52.3300,51.5200,51.9800,4569061,-0.1400,0.8100,Bearish,2014,Jan,-0.268611
4,ABC,2014-01-02,70.1100,70.2300,69.4800,69.8900,1148391,-0.2200,0.7500,Bearish,2014,Jan,-0.313793

In [6]:
# Q2:Volatility calculation
df['volatility']=df['high']-df['low']
df.head()

,symbol,date,open,high,low,close,volume,daily_price_change,price_range,price_direction,year,month,daily_return_pct,volatility
0,AAL,2014-01-02,25.0700,25.8200,25.0600,25.3600,8998943,0.2900,0.7600,Bullish,2014,Jan,1.156761,0.7600
1,AAPL,2014-01-02,79.3828,79.5756,78.8601,79.0185,58791957,-0.3643,0.7155,Bearish,2014,Jan,-0.458916,0.7155
2,AAP,2014-01-02,110.3600,111.8800,109.2900,109.7400,542711,-0.6200,2.5900,Bearish,2014,Jan,-0.561798,2.5900
3,ABBV,2014-01-02,52.1200,52.3300,51.5200,51.9800,4569061,-0.1400,0.8100,Bearish,2014,Jan,-0.268611,0.8100
4,ABC,2014-01-02,70.1100,70.2300,69.4800,69.8900,1148391,-0.2200,0.7500,Bearish,2014,Jan,-0.313793,0.7500

In [7]:
# Q3:Trend column
df['trend']=np.where(df['close']>df['open'],'Bullish','Bearish')
df.head()

,symbol,date,open,high,low,close,volume,daily_price_change,price_range,price_direction,year,month,daily_return_pct,volatility,trend
0,AAL,2014-01-02,25.0700,25.8200,25.0600,25.3600,8998943,0.2900,0.7600,Bullish,2014,Jan,1.156761,0.7600,Bullish
1,AAPL,2014-01-02,79.3828,79.5756,78.8601,79.0185,58791957,-0.3643,0.7155,Bearish,2014,Jan,-0.458916,0.7155,Bearish
2,AAP,2014-01-02,110.3600,111.8800,109.2900,109.7400,542711,-0.6200,2.5900,Bearish,2014,Jan,-0.561798,2.5900,Bearish
3,ABBV,2014-01-02,52.1200,52.3300,51.5200,51.9800,4569061,-0.1400,0.8100,Bearish,2014,Jan,-0.268611,0.8100,Bearish
4,ABC,2014-01-02,70.1100,70.2300,69.4800,69.8900,1148391,-0.2200,0.7500,Bearish,2014,Jan,-0.313793,0.7500,Bearish

In [9]:
df.to_csv(r"C:\Users\spngu\Downloads\stock_market_performance_analysis_csv.csv",index=False)